.Header {
  border: 0.75rem solid black;
}

.Header div {
  position: relative;
}

.Header div > span {
  display: block !important;
}

.Header img {
  width: 100% !important;
}

@media (min-width: 500px) {
  .Header {
    background-color: black;
  }

  .Header div {
    /* background-color: black; */
    width: fit-content;
    margin: auto;
  }

  .Header img {
    width: fit-content !important;
    height: 10rem !important;
  }
}
