@use '../../styles/scss/' as *;

.Header {
  border: 0.75rem solid hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 0%);

  position: sticky;
  top: 0%;
  z-index: 1;

  div {
    position: relative;
  }

  div > span {
    display: block !important;
  }

  img {
    width: 100% !important;
  }

  @include media-query(tablet) {
    div {
      width: fit-content;
      margin-inline: auto;
    }

    img {
      width: fit-content !important;
      height: 10rem !important;
    }
  }
}
