@use '../../styles/scss/' as *;

.Playbook {
  padding-left: 0.25rem;

  span[data-title] {
    @extend %text-medium;
  }

  span[data-text] {
    text-decoration: underline;
    padding-inline: 0.25rem;
  }

  span[data-connection] {
    // text-decoration: underline;
    // padding-inline: 0.25rem;
    // background-color: aliceblue;
  }

  span[data-text='text-1'] {
    margin-inline-end: 0.25rem;
    padding-inline-end: 0.1rem;
  }

  span[data-text='text-2'] {
    margin-inline-start: 0.25rem;
    padding-inline: 0.1rem;
  }

  // span[data-text]:hover span[data-connection] {
  //   padding-inline: 0rem;
  // }

  span[data-text]:hover {
    border: 0.1rem solid var(--hidden-text-border-color);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    background-color: hsl(0, 59%, 40%);
    color: hsl(39, 100%, 50%, 0.93);
    text-decoration: none;

    & span[data-hidden] {
      display: block;
      animation: fade-in 500ms ease-in;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  span[data-hidden] {
    background-color: hsl(0, 59%, 40%);
    border-radius: 0.25rem;
    border: solid 0.1rem var(--hidden-text-border-color);
    width: max(20rem, 50%);
    padding: 0.5rem;
    color: hsl(39, 100%, 50%);

    display: none;
    position: absolute;
  }

  span[data-benefit] {
    @extend %text-italic;
  }

  @include media-query(tablet) {
    padding-left: 0rem;
  }
}
