@use '../../styles/scss/' as *;

.TitleAndText {
  border: solid 0.1rem black;
  border-radius: 0.5rem;
  background-color: hsl(39, 100%, 50%, 0.25);

  padding: 0.5rem;

  overflow: hidden;

  div {
    display: flex;
    justify-content: space-between;

    a {
      background-color: hsl(0, 59%, 40%);
      color: orange;
      border: solid 0.075rem hsl(0, 59%, 35%);
      border-radius: 0.25rem;
      margin-bottom: 0.2rem;
      margin-right: 0.25rem;
      padding: 0.05rem 0.3rem;
    }
  }

  h2 {
    font-size: 1.25rem;
    padding-left: 0.25rem;
  }

  hr {
    background-color: hsl(0, 0%, 0%);
    border: solid 0.05rem hsl(0, 0%, 0%, 0.75);
    border-radius: 0.5rem;
  }

  @include media-query(tablet) {
    padding: 0.35rem;

    display: grid;
    grid-template-columns: 3fr 1fr 8fr;
    align-items: center;

    div {
      flex-direction: column;
      align-items: center;

      a {
        margin: 0;
      }
    }

    h2 {
      font-size: 1.75rem;
    }

    hr {
      transform: rotate(90deg);
      width: 175%;
    }

    & > *:first-child {
      text-align: end;
      position: relative;
      left: 20%;
    }
  }
}
