@use '../../styles/scss/' as *;

.Home {
  @extend %page-layout;
  @extend %text-regular;

  font-size: 1.1rem;

  & > div {
    max-width: min(35rem, 90%);
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      @extend %page-title;
      letter-spacing: 0.1rem;
    }

    img {
      width: 3.75rem !important;
    }

    & > div > p {
      display: none;
    }
  }

  & > p {
    @extend %intro-text;
  }

  ul {
    @extend %list-layout;
    @extend %display-column-1;

    hr {
      display: none;
    }

    li {
      span {
        &[data-term] {
          @extend %text-bold;
          // text-decoration: underline;
        }

        &[data-option] {
          @extend %text-italic;
        }
      }
    }
  }

  @include media-query(small) {
    & > div {
      max-width: fit-content;

      h1 {
        margin-inline: 1.5rem;
        letter-spacing: 0.25rem;
      }

      img {
        width: 4.75rem !important;
      }
    }
    & > p {
      width: fit-content;
    }
  }

  @include media-query(tablet) {
    & > div {
      h1 {
        padding-bottom: 0.5rem;
      }

      img {
        width: 7.25rem !important;
      }

      & > div > p {
        display: block;
      }
    }

    & > p {
      display: none;
    }

    ul {
      li {
        flex: 1;
        display: block;
        padding: 0.75rem;
      }
    }
  }
}
