@use '../../styles/scss/' as *;

.Moves {
  @extend %page-layout;
  @extend %text-regular;

  font-size: 1.1rem;

  h1 {
    @extend %page-title;
  }

  & > p {
    @extend %intro-text;
  }

  & > div {
    width: 90%;
    margin-top: 0.5rem;
    margin-inline: auto;

    img {
      border: 1px solid brown !important;
      border-radius: 0.5rem;
    }
  }

  ul {
    @extend %list-layout;
    @extend %display-column-1;

    li {
      span {
        &[data-term] {
          @extend %text-bold;
        }
      }
    }
  }

  @include media-query(tablet) {
    & > div {
      width: var(--list-max-width);
    }
  }
}
