.Nav {
  position: absolute;
  right: 0%;
  bottom: 20%;
  transform: translate(0%, 20%);

  font-family: serif;
}

.Nav ul {
  display: grid;
  justify-items: end;
  gap: 0.25rem;
}

.Nav ul li {
  background-color: var(--bgcolor-nav);
  padding: 0.25rem 0.5rem;
  border-radius: 5rem;
  width: fit-content;
}
